# ignore build folder 
build
# ignore devel folder
devel
# ignore logs folder
logs
#ignore .vscode folders
/src/**/.vscode
.vscode

#ignore catkin tools
#catkin_workspace

.catkin_tools/
.catkin_workspace

#ignore swp
.swp

